{% extends 'house_renting/base.html' %}
{% load static %}

{% block title %}House Detail{% endblock %}

{% block content %}
<div class="house-card">
    <h2>{{ house.address }}</h2>
    <img src="{{ house.main_image.url }}" alt="Main house image">
    <p>Type: {{ house.house_type }}</p>
    <p>{{ house.description }}</p>  <!-- Display the description -->
    <p>Rent: RWF {{ house.rent }}</p>

    <div class="additional-images mt-4">
        <h3>Additional Images</h3>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <img src="{{ image.image.url }}" alt="Additional house image" class="img-fluid mb-3">
                </div>
            {% endfor %}
        </div>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Apply for this house</h3>
    <form method="post" class="apply-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="apply-button">Apply</button>
    </form>
</div>
{% endblock %}
